@* @page "/perfil" *@
@model YouCode.BE.Profile

@{
    ViewBag.Title = @Model.User.Name;
}


  <div class="relative max-w-4xl mx-auto my-10 bg-white rounded-lg shadow-md p-5">
    <div class="relative">
        <button id="openModal" class="absolute m-1 top-0 right-0 text-gray-700 px-3 py-2 rounded-lg border border-transparent text-sm font-semibold transition-all duration-300 hover:bg-green-600 hover:text-white hover:border-transparent">Editar perfil</button>

            </div>
                <div class="flex items-center justify-center">
                    <img class="w-40 h-40 mx-3 rounded-full" src="@Model.AvatarUrl" alt="Profile picture">
                    <div class="ml-6">
                        <h2 class="text-3xl font-bold">@Model.User.Name</h2>
                        <p class="text-gray-600 text-xl font-semibold mt-1">@Model.User.Username</p>
                        <hr class="mt-3">
                        <div class="flex justify-between text-gray-600 mx-2 mt-2">
                            <div class="text-center">
                                <span class="block font-bold text-lg">1.5k</span>
                                <span class="text-xs">Seguidores</span>
                            </div>
                            <div class="text-center">
                                <span class="block font-bold text-lg">120</span>
                                <span class="text-xs">Seguidos</span>
                            </div>
                            <div class="text-center">
                                <span class="block font-bold text-lg">350</span>
                                <span class="text-xs">Posts</span>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="mt-8">
            <p class="text-gray-600 text-md p-2 mt-2">@Model.Bio</p>
            
        </div>
    </div>
  </div>

  <div id="editProfileModal" class="fixed inset-0 z-50 overflow-auto bg-gray-900 bg-opacity-50 flex justify-center items-center hidden">
    <div class="bg-white rounded-lg p-8">
        <h2 class="text-2xl font-bold mb-4">Editar Perfil</h2>
        <!-- Formulario de edición de perfil -->
        <form id="profileForm" enctype="multipart/form-data">
            <div class="mb-4">
                <label for="profileName" class="block text-sm font-bold mb-2">Nombre de Perfil</label>
                <input type="text" id="profileName" name="Name" class="w-full border rounded-md px-3 py-2">
            </div>
            <div class="mb-4">
                <label for="profileBio" class="block text-sm font-bold mb-2">Biografía</label>
                <textarea id="profileBio" name="Bio" rows="4" class="w-full border rounded-md px-3 py-2"></textarea>
            </div>
            <div class="mb-4">
                <label for="profilePicture" class="block text-sm font-bold mb-2">Foto de Perfil</label>
                <input type="file" id="profilePicture" name="AvatarFile" accept="image/*">
            </div>
            <button type="button" id="submitBtn" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">Guardar Cambios</button>
            <button type="button" id="closeModal" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded ml-2">Cancelar</button>
        </form>



    </div>
</div>



@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var userId = @Model.User.Id;
        document.addEventListener("DOMContentLoaded", function () {
            var openModalBtn = document.getElementById("openModal");
            var closeModalBtn = document.getElementById("closeModal");
            var editProfileModal = document.getElementById("editProfileModal");
            var profileNameInput = document.getElementById("profileName");
            var profileBioTextarea = document.getElementById("profileBio");

            openModalBtn.addEventListener("click", function () {
                editProfileModal.classList.remove("hidden");

                // Hacer una solicitud AJAX para obtener los datos del perfil
                $.ajax({
                    url: '/Profile/GetProfile',
                    type: 'GET',
                    success: function(response) {
                        if (response.success) {
                            
                            // Llenar los campos del formulario con los datos del perfil
                            profileNameInput.value = response.profileDto.name;
                            profileBioTextarea.value = response.profileDto.bio;
                        } else {
                            console.error("Error al obtener el perfil:", response.message);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error("Error al obtener el perfil:", xhr.responseText);
                    }
                });
            });

            closeModalBtn.addEventListener("click", function () {
                editProfileModal.classList.add("hidden");
            });
        });


        $(document).ready(function() {
            $('#submitBtn').click(function() {
                var formData = new FormData($('#profileForm')[0]);

                $.ajax({
                    url: '/Profile/EditProfile',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        //console.log(response);
                        window.location.href = response.redirectTo;
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                        // Manejar errores aquí
                    }
                });
            });
        });



        localStorage.clear();
        localStorage.setItem('YCuserId', userId);
    </script>
}
