@* @page "/perfil" *@
@model YouCode.GUI.Models.DTOs.ProfileReturnDto

@{
    ViewBag.Title = @Model.Profile.User.Name;
}


<main class="max-w-2xl mx-auto">
    <div class="relative w-full my-10 bg-white rounded-md border shadow-md p-5">
        <div class="relative">
            <button id="openModal" hidden
                class="absolute m-1 top-0 right-0 text-gray-700 px-3 py-2 rounded-lg border border-gray-300 text-sm font-semibold transition-all duration-300 hover:bg-green-600 hover:text-white hover:border-transparent">Editar
                perfil</button>

        </div>
        <div class="relative">
            <button onclick="follow()" id="followButton" hidden
                class="absolute m-1 top-0 right-0  px-4 py-2 w-32
                bg-transparent text-[13px] font-bold rounded
                text-green-400 border border-green-400 transition-all duration-300
                hover:bg-green-600 hover:text-white hover:border-transparent">
                Seguir</button>

        </div>
        <div class="flex items-center justify-center">
            <div class="mt-2">
                <span class="block w-40 h-40 rounded-full m-auto shadow"
                    style="background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url('@Model.Profile.AvatarUrl');">
                </span>
            </div>

            <div class="ml-6">
               <h2 class="text-2xl font-bold">@Model.Profile.User.Name</h2>

                <p class="text-gray-600 text-xl font-semibold mt-1">@Model.Profile.User.Username</p>
                <hr class="mt-3">
                <div class="flex justify-between text-gray-600 mx-2 mt-2">
                    <div class="text-center">
                        <span class="block font-bold text-lg mr-2">1.5k</span>
                        <span class="text-xs">Seguidores</span>
                    </div>
                    <div class="text-center">
                        <span class="block font-bold text-lg mr-2">120</span>
                        <span class="text-xs">Seguidos</span>
                    </div>
                    <div class="text-center">
                        <span class="block font-bold text-lg mr-2">350</span>
                        <span class="text-xs">Posts</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-8">
            <p class="text-gray-600 text-md p-2 mt-2" id="bioParagraph"></p>
        </div>

    </div>

    @* si los post son cero mostrar un mensaje *@
    @if (Model.Posts.Count == 0)
    {
        <div class="w-full flex items-center justify-center mt-5">
            <p class="text-gray-600 text-lg">Cielos está un poco vacío por aquí...</p>
        </div>
    }

    <div class="w-full flex flex-col items-center" id="contendor-post">
        @foreach (var post in Model.Posts)
        {
            <div class="bg-white border shadow-md rounded-sm my-3 w-full post-item-render" id="post-@post.Id">
                <div class="flex items-center px-4 py-3">
                    <span class="h-12 w-12 rounded-full bg-cover" style="background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url('@post.UserProfile.AvatarUrl');"></span>
                    <div class="ml-3 ">
                        <span class="text-md font-semibold antialiased block leading-tight">@post.User.Name <span class="text-gray-600">@post.User.Username</span></span>
                        <!-- Asumiendo que User tiene una propiedad Name -->
                        <span class="text-gray-600 text-xs block">@post.PostedAt.ToString("MMMM dd, yyyy")</span>
                    </div>
                </div>
                <div class="px-2">
                    <h2 class="font-semibold text-gray-800">@post.Title</h2>
                    @if (ViewBag.PostsHtml != null){
                        bool found = false;
                        foreach (var postHtml in ViewBag.PostsHtml)
                        {
                            if (postHtml.Id == post.Id)
                            {
                                
                                <div class="p-4 h-24  overflow-auto">
                                    <p class="PCLAS">@Html.Raw(postHtml.ContentHtml)</p>
                                </div>
                            
                                found = true;
                                break;
                            }
                        }
                        if (!found)
                        {
                            <p class="text-[12px]">@post.Content</p>
                        }
                    }
                    else
                    {
                        <p class="text-[12px]">@post.Content</p>
                    }
                </div>

                @* *@

                @if (post.Images.Any())
                {
                    <div id="controls-carousel" class="relative w-full" data-carousel="static">
                        <!-- Carousel wrapper -->
                        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                            <!-- Item 1 -->
                            @foreach (var image in post.Images)
                            {
                                <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
                                    <img src="@image.Path" alt="post"
                                        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 aspect-w-16 aspect-h-9 object-cover">
                                </div>
                            }
                        </div>
                        <!-- Slider controls -->
                        @if (post.Images.Count > 1)
                        {
                            <button type="button"
                                class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                                data-carousel-prev>
                                <span
                                    class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/50 group-hover:bg-white/50 group-focus:outline-none border border-gray-600">
                                    <svg class="w-4 h-4 text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 1 1 5l4 4" />
                                    </svg>
                                    <span class="sr-only">Previous</span>
                                </span>
                            </button>
                            <button type="button"
                                class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                                data-carousel-next>
                                <span
                                    class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:outline-none border border-gray-600">
                                    <svg class="w-4 h-4 text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="m1 9 4-4-4-4" />
                                    </svg>
                                    <span class="sr-only">Next</span>
                                </span>
                            </button>
                        }
                    </div>
                }

                @* *@

                @* @ViewBag.User.Id *@

                <div class="flex items-center justify-between mx-4 mt-3 mb-2">
                    <div class="flex gap-5">
                        <!-- SVG de Corazón (Me gusta) -->

                    @namespace YouCode.GUI.Components.Icons

                        <svg class="hover btn-like" width="30" height="30" viewBox="0 0 24 24"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="hear 1" clip-path="url(#clip0_31_2)">
                                <g id="hear - copia 1">
                                    <path class="hidden" id="like-green"
                                        d="M19.4048 5.62257C18.9072 5.1089 18.3155 4.70111 17.6636 4.42265C17.0117 4.14419 16.3126 4.00055 15.6064 4C14.2706 4.00022 12.9836 4.51459 12.0002 5.44126C11.0169 4.51443 9.72986 4.00004 8.39404 4C7.68701 4.00075 6.9871 4.14483 6.3346 4.42393C5.6821 4.70303 5.08988 5.11165 4.59203 5.62627C2.46857 7.81221 2.46947 11.2313 4.59384 13.408L12.0002 21L19.4066 13.408C21.531 11.2313 21.5319 7.81221 19.4048 5.62257Z"
                                        fill="#4FDC54" />
                                    <path id="like-gray"
                                        d="M12 4.59511C10.9104 3.59321 9.48419 3.03716 8.00398 3.03711C7.22052 3.03793 6.44495 3.19367 5.72192 3.49538C4.99888 3.79709 4.34265 4.2388 3.79098 4.79511C1.43798 7.15811 1.43898 10.8541 3.79298 13.2071L11.125 20.5391C11.295 20.8381 11.623 21.0311 12 21.0311C12.1548 21.0296 12.3071 20.9918 12.4446 20.9208C12.5822 20.8498 12.7011 20.7475 12.792 20.6221L20.207 13.2071C22.561 10.8531 22.561 7.15811 20.205 4.79111C19.6536 4.23583 18.9979 3.79501 18.2756 3.49399C17.5532 3.19298 16.7785 3.03771 15.996 3.03711C14.5158 3.03735 13.0897 3.59338 12 4.59511ZM18.791 6.20511C20.354 7.77611 20.355 10.2301 18.793 11.7931L12 18.5861L5.20698 11.7931C3.64498 10.2301 3.64598 7.77611 5.20498 6.20911C5.96498 5.45311 6.95898 5.03711 8.00398 5.03711C9.04898 5.03711 10.039 5.45311 10.793 6.20711L11.293 6.70711C11.3858 6.80006 11.496 6.87379 11.6173 6.9241C11.7386 6.97441 11.8686 7.00031 12 7.00031C12.1313 7.00031 12.2614 6.97441 12.3827 6.9241C12.504 6.87379 12.6142 6.80006 12.707 6.70711L13.207 6.20711C14.719 4.69811 17.281 4.70211 18.791 6.20511Z"
                                        fill="#4F4F5E" />
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_31_2">
                                    <rect width="24" height="24" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>

                        <!-- SVG de Comentario -->
                        <svg class="hover btn-comment" width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Frame">
                                <path class="hidden" 
                                id="comment-green" d="M12 2C6.486 2 2 5.589 2 10C2 12.908 3.897 15.516 7 16.934V22L12.34 17.996C17.697 17.852 22 14.32 22 10C22 5.589 17.514 2 12 2ZM9.5 11C9.10218 11 8.72064 10.842 8.43934 10.5607C8.15804 10.2794 8 9.89782 8 9.5C8 9.10218 8.15804 8.72064 8.43934 8.43934C8.72064 8.15804 9.10218 8 9.5 8C9.89782 8 10.2794 8.15804 10.5607 8.43934C10.842 8.72064 11 9.10218 11 9.5C11 9.89782 10.842 10.2794 10.5607 10.5607C10.2794 10.842 9.89782 11 9.5 11ZM14.5 11C14.1022 11 13.7206 10.842 13.4393 10.5607C13.158 10.2794 13 9.89782 13 9.5C13 9.10218 13.158 8.72064 13.4393 8.43934C13.7206 8.15804 14.1022 8 14.5 8C14.8978 8 15.2794 8.15804 15.5607 8.43934C15.842 8.72064 16 9.10218 16 9.5C16 9.89782 15.842 10.2794 15.5607 10.5607C15.2794 10.842 14.8978 11 14.5 11Z" fill="#4FDC54"/>
                                <g id="comment-gray">
                                <path id="Vector" d="M9.5 11C10.3284 11 11 10.3284 11 9.5C11 8.67157 10.3284 8 9.5 8C8.67157 8 8 8.67157 8 9.5C8 10.3284 8.67157 11 9.5 11Z" fill="#4F4F5E"/>
                                <path id="Vector_2" d="M14.5 11C15.3284 11 16 10.3284 16 9.5C16 8.67157 15.3284 8 14.5 8C13.6716 8 13 8.67157 13 9.5C13 10.3284 13.6716 11 14.5 11Z" fill="#4F4F5E"/>
                                <path id="Vector_3" d="M12 2C6.486 2 2 5.589 2 10C2 12.908 3.897 15.515 7 16.934V22L12.34 17.996C17.697 17.852 22 14.32 22 10C22 5.589 17.514 2 12 2ZM12 16H11.667L9 18V15.583L8.359 15.336C5.671 14.301 4 12.256 4 10C4 6.691 7.589 4 12 4C16.411 4 20 6.691 20 10C20 13.309 16.411 16 12 16Z" fill="#4F585D"/>
                                </g>
                            </g>
                        </svg>

                    </div>
                    
                    <div class="flex">
                        <!-- SVG de Saved (Guardado) -->
                        <svg class="hover btn-favorite" width="30" height="30" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g id="Frame">
                                <path class="hidden" id="favorite-green"
                                    d="M5 21H19C19.5304 21 20.0391 20.7893 20.4142 20.4142C20.7893 20.0391 21 19.5304 21 19V8L16 3H5C4.46957 3 3.96086 3.21071 3.58579 3.58579C3.21071 3.96086 3 4.46957 3 5V19C3 19.5304 3.21071 20.0391 3.58579 20.4142C3.96086 20.7893 4.46957 21 5 21ZM7 5H11V7H13V5H15V9H7V5ZM7 13H17V19H7V13Z"
                                    fill="#4FDC54" />
                                <path id="favorite-gray"
                                    d="M5 21H19C19.5304 21 20.0391 20.7893 20.4142 20.4142C20.7893 20.0392 21 19.5305 21 19V8.00002C21.0008 7.86841 20.9755 7.73795 20.9258 7.61611C20.876 7.49427 20.8027 7.38346 20.71 7.29002L16.71 3.29002C16.6166 3.19734 16.5057 3.12401 16.3839 3.07425C16.2621 3.02448 16.1316 2.99926 16 3.00002H5C4.46957 3.00002 3.96086 3.21073 3.58579 3.5858C3.21071 3.96088 3 4.46958 3 5.00002V19C3 19.5305 3.21071 20.0392 3.58579 20.4142C3.96086 20.7893 4.46957 21 5 21ZM15 19H9V14H15V19ZM13 7.00002H11V5.00002H13V7.00002ZM5 5.00002H7V9.00002H15V5.00002H15.59L19 8.41002V19H17V14C17 13.4696 16.7893 12.9609 16.4142 12.5858C16.0391 12.2107 15.5304 12 15 12H9C8.46957 12 7.96086 12.2107 7.58579 12.5858C7.21071 12.9609 7 13.4696 7 14V19H5V5.00002Z"
                                    fill="#4F4F5E" />
                            </g>
                        </svg>
                    </div>

                </div>
                <div class="flex justify-between font-semibold text-sm mx-4 mt-2 mb-4">
                    <span class="likes">@post.Reactions.Count Likes</span>
                    <span class="saves">@post.Favorites.Count Saved</span>
                </div>

                                <!-- component Commet GABY -->
                <!-- Tailwindcss V3 Script because here v3 is not supported -->
                <div class="justify-center items-center w-full pb-10 comment-component hidden">
                    <div class="w-[90%] mx-auto">
                        <!-- Ajuste del ancho del contenedor principal -->
                        <div class="flex justify-between">
                            @* <div class="mb-4">
                                <span class="bg-[#F3F4F6] rounded-md font-semibold cursor-pointer p-2">Write</span>
                                <span class="bg-transparent font-semibold text-[#7E8490] cursor-pointer p-2">Preview</span>
                            </div> *@
                            @* <div class="flex gap-3 text-[#9CA3AF]">

                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                                </svg>
                            </div> *@
                        </div>
                        <textarea placeholder="Add your comment..." class="p-2 focus:outline-1 focus:outline-blue-500 font-bold border-[0.1px] resize-none h-[120px] border-[#9EA5B1] rounded-md w-full"></textarea> <!-- Ajuste del ancho del textarea -->
                        <div class="flex justify-end">
                            <button class="flex items-center justify-center text-sm font-semibold absolute bg-[#4F46E5] w-fit text-white py-2 rounded px-3">
                                Post
                                <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill: #eee;transform: ;msFilter:;"><path d="m21.426 11.095-17-8A1 1 0 0 0 3.03 4.242l1.212 4.849L12 12l-7.758 2.909-1.212 4.849a.998.998 0 0 0 1.396 1.147l17-8a1 1 0 0 0 0-1.81z"></path></svg>
                            </button>
                        </div>
                    </div>
                </div>

                @* propiedad oculta con un array de los usurios que dieron like *@
                <input type="hidden" value='@Json.Serialize(post.Reactions)' class="reactions" />
                <input type="hidden" value='@Json.Serialize(post.Favorites)' class="favorites" />

            </div>
        }
    </div>
    </div>


</main>


<div id="editProfileModal"
    class="z-40 fixed left-0 top-0 flex h-full w-full items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="max-h-full w-full max-w-xl overflow-y-auto sm:rounded-2xl bg-white p-8">
        <form id="profileForm" enctype="multipart/form-data" class="space-y-4">
            <!-- Inicio del formulario de edición de perfil -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
                <!-- Columna izquierda: Selector de foto -->
                <div class="text-center">
                    <!-- foto-->
                    <div x-data="{photoName: null, photoPreview: null}" class="col-span-6 ml-2 sm:col-span-4 md:mr-3">
                        <!-- Photo File Input -->
                        <input id="profilePicture" name="AvatarFile" type="file" accept="image/*" class="hidden"
                            x-ref="photo" x-on:change="
                        photoName = $refs.photo.files[0].name;
                        const reader = new FileReader();
                        reader.onload = (e) => {
                            photoPreview = e.target.result;
                        };
                        reader.readAsDataURL($refs.photo.files[0]);
                    ">

                        <label class="block text-gray-700 text-sm font-bold mb-2 text-center" for="photo">
                            Foto de Perfil <span class="text-red-600"> </span>
                        </label>

                        <div class="text-center">
                            <!-- Current Profile Photo -->
                            <div class="mt-2" x-show="!photoPreview">
                                <span class="block w-40 h-40 rounded-full m-auto shadow"
                                    style="background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url('@Model.Profile.AvatarUrl');">
                                </span>
                            </div>

                            <!-- New Profile Photo Preview -->
                            <div class="mt-2" x-show="photoPreview" style="display: none;">
                                <span class="block w-40 h-40 rounded-full m-auto shadow"
                                    x-bind:style="'background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(\'' + photoPreview + '\');'"
                                    style="background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url('null');">
                                </span>
                            </div>
                            <button type="button"
                                class="inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-400 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150 mt-2 ml-3"
                                x-on:click.prevent="$refs.photo.click()">
                                Subir Nueva Foto
                            </button>
                        </div>
                    </div>

                    <!-- foto-->
                </div>


                <!-- Columna derecha: Campos de texto y botones -->
                <div>
                    <h1 class="mb-4 text-3xl font-extrabold">Editar perfil</h1>

                    <div class="mb-4">
                        <label for="profileName" class="block text-sm font-bold mb-2">Nombre de Perfil</label>
                        <input maxlength="40" value="@Model.Profile.User.Name" type="text" id="profileName" name="Name"
                            class="w-full border rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
                            placeholder="Nombre">
                    </div>
                    <div class="mb-4">
                        <label for="profileBio" class="block text-sm font-bold mb-2">Biografía</label>
                        <textarea maxlength="40"id="profileBio" rows="4"
                            class="w-full border rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
                            placeholder="Biografía"></textarea>
                        <input name="Bio" id="HiddenBioParagraph" hidden>
                    </div>

                    <div class="flex justify-between">
                        <button type="button" id="submitBtn"
                            class="mx-2 p-3 bg-green-600 rounded-lg text-white w-full font-semibold focus:outline-none focus:shadow-outline transition-all duration-300 hover:bg-green-800">Actualizar</button>
                        <button type="button" id="closeModal"
                            class="mx-2 p-3 bg-white border border-gray-300 rounded-lg w-full font-semibold focus:outline-none focus:shadow-outline transition-all duration-300 hover:bg-gray-800 hover:text-white">Cancelar</button>
                    </div>

                </div>

        </form>
        <!-- Fin del formulario de edición de perfil -->
    </div>
</div>

<div id="spinnerOverlay" class="hidden fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="w-16 h-16 bg-white rounded-full flex items-center justify-center">
        <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>
        <span class="sr-only">Loading...</span>
    </div>
</div>






@section Scripts {
    <script src="~/js/like-func.js" asp-append-version="true"></script>
    <script src="~/js/save-func.js" asp-append-version="true"></script>
    <script src="~/js/comment-func.js" asp-append-version="true"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/gh/alpine-collective/alpine-magic-helpers@0.3.x/dist/index.js"></script>

    <script>
        var userId = @Model.Profile.User.Id;
        document.addEventListener("DOMContentLoaded", function () {
            var openModalBtn = document.getElementById("openModal");
            var closeModalBtn = document.getElementById("closeModal");
            var editProfileModal = document.getElementById("editProfileModal");
            var profileNameInput = document.getElementById("profileName");
            var profileBioTextarea = document.getElementById("profileBio");
            var profilePhotoInput = document.getElementById("profilePhoto");

            openModalBtn.addEventListener("click", function () {
                editProfileModal.classList.remove("hidden");
                profileBioTextarea.innerHTML = "@Model.Profile.Bio"
            });

            closeModalBtn.addEventListener("click", function () {
                editProfileModal.classList.add("hidden");
            });

            

            $("#bioParagraph").html(FormatBio());
        });

        function FormatBio(){
            var xd = "@Model.Profile.Bio";
            var bioContent = xd.replace(/\n/g, "<br>");
            return bioContent;
        }

        $(document).ready(function () {
            // Función para verificar si el usuario es propietario y mostrar u ocultar el botón en consecuencia
            function checkUserOwner(username) {
                $.ajax({
                    url: '/Auth/ValidateUserOwner',
                    type: 'GET',
                    data: { username: username },
                    success: function (response) {
                        if (response.is_owner) {
                            // Si el usuario es propietario, mostrar el botón
                            $('#openModal').show();
                            $('#followButton').remove();
                        } else {
                             initFollows();
                            // Si el usuario no es propietario, ocultar el botón
                            $('#openModal').remove();
                            
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                        // Manejar errores aquí
                    }
                });
            }

            // Al cargar el documento, verifica si el usuario es propietario
            checkUserOwner('@Model.Profile.User.Username');

            // Al hacer clic en el botón de enviar, verifica si el usuario es propietario
            $('#submitBtn').click(function () {
                // Obtenemos los valores de los campos
                var profileName = $('#profileName').val();
                var profileBio = $('#profileBio').val();

                if (profileName.trim() === "" || profileBio.trim() === "") {
                    alert("Por favor completa todos los campos.");
                    return // Evita que se envíe el formulario
                }

                // Reemplazar los saltos de línea en el contenido del textarea con "\n"
                profileBioN = profileBio.replace(/\n/g, "\\n");
                profileBio = profileBio.replace(/\n/g, "<br>");
                $('#profileBio').html(profileBio);
                $('#HiddenBioParagraph').val(profileBioN);
            
                // Si todos los campos están llenos, procedemos con el envío del formulario
                $('#spinnerOverlay').removeClass('hidden'); // Mostramos el spinner
                var formData = new FormData($('#profileForm')[0]);

                $.ajax({
                    url: '/Profile/EditProfile',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        window.location.href = response.redirectTo;
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                        // Manejar errores aquí
                    },
                    complete: function() {
                        // Oculta el spinner
                        $('#spinnerOverlay').addClass('hidden');
                        $('#editProfileModal').addClass('hidden');
                    }
                });
            });
        });


        function follow()
        {
            var IdToFollow = '@Model.Profile.User.Id' 
            var userId = '@ViewBag.CurrentUserId' 
            
            if ($('#followButton').text() === "Dejar de Seguir")
            {
                unfollow(IdToFollow, userId);
                return;
            }
            

            let follower = {
                IdFollower: userId,
                IdFollow: IdToFollow
            };
            $('#followButton').text('Espera...')
            
            fetch('/api/follower', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(follower)
            })
                .then(response => {
                    if (response.ok) {
                        setfollowUI(true)
                    } else {
                        alert('Error al seguir usuario');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function unfollow(IdToFollow, userId)
        {

            $('#followButton').text('Espera...')
            
            fetch(`/api/follower/${userId}/${IdToFollow}`, {
                method: 'DELETE'
            })
                .then(response => {
                    if (response.ok) {
                        setfollowUI(false);
                    } else {
                        alert('Error al dejar de seguir usuario');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function setfollowUI(follow)
        {
            if (follow) {
            $('#followButton').text('Dejar de Seguir').removeClass('text-green-400 border-green-400 hover:bg-green-600 hover:text-white hover:border-transparent')
                                 .addClass('text-gray-500 border-gray-500 hover:bg-gray-600 hover:text-white hover:border-transparent');
            } else {
                $('#followButton').text('Seguir').removeClass('text-gray-400 border-gray-400 hover:bg-gray-600 hover:text-white hover:border-transparent')
                                    .addClass('text-green-400 border-green-400 hover:bg-green-600 hover:text-white hover:border-transparent');
            }
        }


        function initFollows()
        {
            var idfollow = ' @Model.Profile.User.Id'
            var idfollower = ' @ViewBag.CurrentUserId'
            // hacer peticion para obtener a los seguidos
            let url = `http://localhost:5096/api/follower/isfollowing/${idfollower}/${idfollow}`;
            fetch(url)
                .then(response => response.json())
                .then(isFollowing => {
                    setfollowUI(isFollowing)
                    $('#followButton').show();
                })
                
        }

        localStorage.clear();
        localStorage.setItem('YCuserId', userId);
    </script>
}

